# project specific excludes
com.ibm.streamsx.mongodb/doc
com.ibm.streamsx.mongodb/samples

samples/*/doc
samples/*/output
samples/*/toolkit.xml
index.*

# begin streamsx.mongodb excluded
.settings
.toolkitList

## C++ excludes
# Compiled Object files
*.slo
*.lo
*.o
